.hide {
    visibility: hidden;
}

.container {
    width: 80%;
    text-align: center;
    border: 2px solid black;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    margin: 50px auto;
}

#tagalog, #english {
    border: 1px solid black;
    width: 50%;
    margin: 1px;
}

#english {
    display: inline;
}

.no-border {
    border: none;
}
